:root {
  --base-gap-sm: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px 0 15px;
  margin-bottom: 20px;
}

.header-container h1 {
  font-size: 32px;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: underline;
  font-family: "Roboto Mono", serif;
}

.icon-img {
  height: 25px;
  width: 25px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
.vukejso-img {
  height: 600px;
  width: 600px;
  padding: 50px;
  border-radius: 50%;
  animation: rotate 1s ease-out 1;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--base-gap-sm);
  font-size: 25px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--base-gap-sm);
}

.flex-row {
  display: flex;
  align-items: center;
  /* gap: var(--base-gap-sm); */
}

.vukejso-img:hover {
  scale: 1.2;
  cursor: pointer;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  height: 50px;
  width: 100px;
  border-radius: 10%;
}
.vukejsocompjuter {
  height: 500px;
  width: 500px;
  gap: var(--base-gap-sm);
  border: 1px solid black;
  margin: 16px;
  border-radius: 10%;
  transition: box-shadow 0.3s ease;
}

.vukejsocompjuter:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 30px;
  margin-left: 15px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  margin-left: 15px;
}

.group-img {
  height: 500px;
  width: 500px;
  margin-left: auto;
  max-width: 100%;
  height: auto;
  gap: var(--base-gap-sm);
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 20%;
  border: 1px solid black;
  transition: box-shadow 0.3s ease;
}

.group-img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.grouptxt-container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 20px;
  }
  /* nav {
    display: none;
  } */

  .header-container {
    flex-direction: column;
    gap: 20px;
  }

  .header-container h1 {
    font-size: 20px;
  }

  .icon-img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .header-container h1 {
    font-size: 16px;
  }
}
